/*----------------------------FONT------------------------------*/
@font-face {
  font-family: "montserrat-regular";
  src: url("./src/font/montserrat-regular.ttf");
}

@font-face {
  font-family: "montserrat-light";
  src: url("./src/font/montserrat-light.ttf");
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("./src/font/montserrat-semibold.ttf");
}

/*----------------------------GÉNÉRAL---------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #2f2f2f;
  --green-gradient: linear-gradient(
    90deg,
    rgba(104, 191, 30, 1) 0%,
    rgba(154, 204, 50, 1) 100%
  );

  /*Les images de fonds*/
  --background-pokemon-black: url("./src/images/fond.png");
  --background-pokemon-white: url("./src/images/fond-transparent.png");

  --bug-gradient: radial-gradient(
    circle at center,
    rgb(197, 215, 130) 0%,
    rgb(84, 107, 40) 100%
  );

  --dark-gradient: radial-gradient(
    circle at center,
    rgb(70, 70, 70) 0%,
    rgb(21, 21, 21) 100%
  );

  --dragon-gradient: radial-gradient(
    circle at center,
    rgb(148, 152, 204) 0%,
    rgb(62, 66, 108) 100%
  );

  --electric-gradient: radial-gradient(
    circle at center,
    rgb(255, 255, 120) 0%,
    rgb(130, 132, 4) 100%
  );

  --fairy-gradient: radial-gradient(
    circle at center,
    rgb(255, 120, 190) 0%,
    rgb(126, 13, 71) 100%
  );

  --fighting-gradient: radial-gradient(
    circle at center,
    rgb(200, 150, 85) 0%,
    rgb(110, 64, 4) 100%
  );

  --fire-gradient: radial-gradient(
    circle at center,
    rgb(255, 120, 120) 0%,
    rgb(191, 30, 30) 100%
  );

  --flying-gradient: radial-gradient(
    circle at center,
    rgb(180, 210, 225) 0%,
    rgb(102, 126, 138) 100%
  );

  --ghost-gradient: radial-gradient(
    circle at center,
    rgb(174, 156, 180) 0%,
    rgb(69, 58, 70) 100%
  );

  --grass-gradient: radial-gradient(
    circle at center,
    rgb(158, 221, 80) 0%,
    rgb(93, 129, 61) 100%
  );

  --ground-gradient: radial-gradient(
    circle at center,
    rgb(180, 120, 60) 0%,
    rgb(52, 30, 1) 100%
  );

  --ice-gradient: radial-gradient(
    circle at center,
    rgb(200, 245, 250) 0%,
    rgb(40, 89, 90) 100%
  );

  --normal-gradient: radial-gradient(
    circle at center,
    rgb(230, 230, 230) 0%,
    rgb(130, 128, 128) 100%
  );

  --poison-gradient: radial-gradient(
    circle at center,
    rgb(219, 146, 219) 0%,
    rgb(112, 30, 109) 100%
  );

  --psychic-gradient: radial-gradient(
    circle at center,
    rgb(246, 192, 234) 0%,
    rgb(230, 71, 198) 100%
  );

  --rock-gradient: radial-gradient(
    circle at center,
    rgb(220, 140, 60) 0%,
    rgb(163, 83, 14) 100%
  );

  --steel-gradient: radial-gradient(
    circle at center,
    rgb(190, 190, 190) 0%,
    rgb(119, 119, 119) 100%
  );

  --water-gradient: radial-gradient(
    circle at center,
    rgb(141, 177, 239) 0%,
    rgb(34, 102, 158) 100%
  );

  /* Les shadow-box */
  --main-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

html,
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "montserrat-regular";
}

body {
  background-image: var(--background-pokemon-white);
}

body.overflow-hidden {
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  body {
    overflow: auto !important;
  }
}

body maridex-header {
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}

body maridex-footer {
  width: 100%;
}

/*----------------------------HEADER----------------------------*/

header {
  width: 100%;
  height: 45px;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  color: #2f2f2f;
  box-shadow: var(--main-box-shadow);
  background-image: var(--background-pokemon-black);
}

header div#header-wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header a#logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

header a#logo-container img {
  height: 100%;
}

header a#logo-container h1 {
  font-family: "montserrat-semibold", serif;
  font-size: 1rem;
  margin: 0;
  color: white;
}

header nav#desktop-menu {
  display: none;
  align-items: center;
}

header nav#desktop-menu ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

header nav#desktop-menu ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}

header nav#desktop-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: white;
  transition: transform 0.2s ease-in;
  transform-origin: left;
}

header nav#desktop-menu ul li a:hover::after {
  transform: scaleX(1);
}

@media screen and (min-width: 1280px) {
  header nav#desktop-menu {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  header img#burger-bars {
    display: none;
  }
}

header div#phone-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  width: 0;
  height: calc(100vh - 45px);
  display: flex;
  overflow: hidden;
  color: white;
  background: var(--background-pokemon-black);
  transition: width 0.3s ease-in;
}

@media screen and (min-width: 1280px) {
  header div#phone-menu {
    display: none;
  }
}

header div#phone-menu nav {
  width: 100%;
  padding: 0.5rem 2rem;
}

header div#phone-menu nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header div#phone-menu nav ul li {
  padding: 0.5rem 0;
  text-wrap: nowrap;
  border-bottom: 1px solid white;
}

header div#phone-menu nav ul li a {
  color: white;
  text-decoration: none;
}

header div#phone-menu.open {
  width: 100%;
}

/*----------------------------MAIN----------------------------*/

main {
  flex: 1;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  color: #2f2f2f;
}

main section#introduction {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 8px;
  background: var(--green-gradient);
  box-shadow: var(--main-box-shadow);
}

main section#introduction h1 {
  font-size: 1rem;
  font-family: "montserrat-semibold", serif;
  color: white;
}

@media screen and (min-width: 1024px) {
  main section#introduction h1 {
    font-size: 1.2rem;
  }
}

main section#introduction p {
  font-size: 0.75rem;
  font-family: "montserrat-light", serif;
  color: white;
}

@media screen and (min-width: 1024px) {
  body main section#introduction p {
    font-size: 1rem;
  }
}

main section > h2 {
  font-size: 1rem;
  font-family: "montserrat-semibold", serif;
}

@media screen and (min-width: 1024px) {
  main section > h2 {
    font-size: 1.5rem;
  }
}

ul {
  padding-left: 30px;
}

/*----------------------------FOOTER----------------------------*/

footer {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  color: white;
  background-image: var(--background-pokemon-black);
}

@media screen and (min-width: 425px) {
  footer {
    font-size: 0.75rem;
  }
}

footer div#footer-wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer div#footer-wrapper div {
  width: 100%;
  display: flex;
  gap: 1rem;
}

footer div#footer-wrapper div section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer div#footer-wrapper div section h3 {
  font-size: 0.75rem;
  font-family: "montserrat-semibold";
}

@media screen and (min-width: 425px) {
  footer div#footer-wrapper div section h3 {
    font-size: 1rem;
  }
}

footer div#footer-wrapper div section nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.5rem;
}

footer div#footer-wrapper div section nav ul a {
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
}

footer div#footer-wrapper div section nav ul a {
  font-size: 0.5rem;
}

@media screen and (min-width: 425px) {
  footer div#footer-wrapper div section nav ul a {
    font-size: 0.75rem;
  }
}

footer div#footer-wrapper div p {
  flex: 1;
  text-align: left;
}

footer div#footer-wrapper div p a {
  color: white;
}

footer div#footer-wrapper div div#image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

footer div#footer-wrapper div div#image-wrapper img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

footer div#footer-wrapper p {
  width: 100%;
  text-align: center;
}
