main section#pokemon-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  main section#pokemon-details {
    flex-direction: row;
    gap: 1.5rem;
  }
}

main section#pokemon-details div#pokemon-details-head {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div#pokemon-details-head h2 {
  font-size: 1rem;
  font-family: "montserrat-semibold", serif;
}

@media screen and (min-width: 1024px) {
  div#pokemon-details-head h2 {
    font-size: 1.5rem;
  }
}

/*REMARQUE : cela complémente ce qu'il y a dans style.css concernant section > h2 (ici c'est dédié au nom du Pokémon)*/
div#pokemon-details-head h2::first-letter {
  text-transform: uppercase;
}

main section#pokemon-details div#pokemon-details-head .pokemon-card {
  max-width: 20rem;
}

@media screen and (min-width: 600px) {
  main section#pokemon-details div#pokemon-details-head .pokemon-card {
    max-width: 100%;
  }
}

main section#pokemon-details div#pokemon-details-infos {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  main section#pokemon-details div#pokemon-details-infos {
    padding-top: 1.8rem;
  }
}

main section#pokemon-details div#pokemon-details-infos div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main section#pokemon-details div#pokemon-details-infos div h3 {
  font-size: 1rem;
  font-family: "montserrat-semibold", serif;
}

@media screen and (min-width: 1024px) {
  main section#pokemon-details div#pokemon-details-infos div h3 {
    font-size: 1.5rem;
  }
}

main section#pokemon-details div#pokemon-details-infos div p,
main section#pokemon-details div#pokemon-details-infos div li {
  font-size: 0.75rem;
  font-family: "montserrat-regular", serif;
}

@media screen and (min-width: 1024px) {
  main section#pokemon-details div#pokemon-details-infos div p,
  main section#pokemon-details div#pokemon-details-infos div li {
    font-size: 1rem;
  }
}

main section#pokemon-details div#pokemon-details-infos div ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
