.rectangle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f4f7;
  border-radius: 8px;
  aspect-ratio: 1/1;
  box-shadow: var(--main-box-shadow);
}
.rectangle p {
  font-size: 1rem;
}
.rectangle .cercle {
  position: relative;
  width: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: radial-gradient(
    54.81% 54.81% at 50% 50%,
    #e4ffaa 40%,
    #68bf1e 100%
  );
}

body .cercle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
}
