@font-face {
    font-family: 'montserrat-semibold';
    src: url('../font/montserrat-semibold.ttf');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../font/montserrat-regular.ttf');
}